
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    background-image: url('./Sky2.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}

.hidden{
    opacity: 0;
    visibility: hidden !important;
}

.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 2s ease;
}

.header{
    width: 100%; /* Set to desired width */

    font-size: 2vw; /* Adjust this value as needed */
    text-align: center;
}

#fade {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
    top: 0;
}

#leftDiv{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#leftDivLower{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    height: 70%;
}
#gifContainer{
    width: 100%;
    height: fit-content;
    display: flex;
}

input {
    width: 100%;
    height: fit-content;
    padding: 5px;
    font-size: .6em;
    color: white;
    border-radius: 10px;
    border: 2px #01193663 solid;
    background: rgba(117, 99, 184, 1);   
    padding-left: 10px; 
}
input::placeholder{
    color: white;
    opacity: .7;
}

.big-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(117, 99, 184, 0.418); /* Semi-transparent background */
    width: fit-content;
    height: 90%;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 20px 20px;
    margin-top: 3%;
    margin-left: 3%;
}

.search-container {
    font-size: 2em;
    align-items: start;
    width: 30vw;
    height: fit-content;
    align-self: flex-start;
}

#searchForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

#searchForm>button {
    color: rgb(255, 255, 255);
    background:  rgba(38,88,133,.7);
    width: 20%;
    border-radius: 0.4em;
    border: none;
    transition: background .5s, border-radius .5s;
}
#searchForm>button:hover{
    background: rgba(10,50,80, .7);
    border-radius: .75em;
}
#searchForm > button:active { /* Styles for when the button is clicked */
    background: rgba(5, 25, 40, 0.8); /* Darker background when clicked */
    border-radius: 0.65em; /* Optional: change border-radius when clicked */
    transform: translateY(1px); /* Move the button down */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

#location-input{
    width: 80%;
}


/*///////// RIGHT SIDE ///////////*/

.right-container {
    width: 65vw;
    align-items: center;
}

h2 {
    font-weight: 500;
}

.content{
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    height: 20%;
    flex-direction: row;
    gap: 3%;
}

.blurred{
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 15px rgba(117, 99, 184, 0.5);
}

.topcontent{
    margin-top: 2%;
}

#current-info{
    background-color: #3a6a9291;
    width: 30%;
    padding: 1%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1em;
    align-items: center;
    box-shadow: 0 0 20px 5px #3a6a9291;
    transition: opacity 3s ease;
}

#current-weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    justify-content: end;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

#current-weather>img{
    max-width: 50%;
    max-width: 50%;
    object-fit: contain;
}
#current-weather>p{
    margin-top: 5%;
}



#current-stats{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10%;
    
    padding-right: 5%;
    transition: opacity 3s linear;
    justify-content: space-around;
}

#conditions{
    font-weight: bold;
    font-size: 110%;
    text-align: center;
}

.subtext{
    width: 100%; /* Set to desired width */
    max-width: 300px; /* Max width for the container */
    font-size: 1vw; /* Adjust this value as needed */
    text-align: center;
}


#hourly{
    background-color: #3a6a9291;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    align-items: center;
    transition: opacity 4s linear;
}

.hourly-div{
    width: 20%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    gap: 2%;
    flex-direction: column;
    padding: 3%;
    padding-top: 1%;
    align-items: center;
    gap: 2%;
    justify-content: space-between;
}

.hourly-div>p{
    width: 100%;
    text-align: center;

}

.hourly-div>img{
    width: 70%;
}

#hour1{
    transition: opacity 1s linear;
}
#hour2{
    transition-delay: 2s;
    background-color: rgba(38,88,133,.7);
    transition: opacity 1s linear;
}
#hour3{
    background-color: rgba(34,82,125,.7);
    transition-delay: 3s;
    transition: opacity 1s linear;
}
#hour4{
    background-color: rgba(26,72,116,.7);
    transition-delay: 4s;
    transition: opacity 1s linear;
}
#hour5{
    background-color: rgba(23,67,109, .7);
    border-radius: 0 1em 1em 0;
    transition-delay: 5s;
    transition: opacity 1s linear;
}

/* ??????? OBSERVATIONS ????????? */

.observations{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    padding: 1% 0;
    width: 100%;
    height: fit-content;
}

.observation-cell {
    background-color: rgba(38,88,133,.7);
    display: flex;
    width: 13%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: .7em;
    flex-direction: column;
    padding: 1%;
    justify-content: space-around;
}

#sunrise>img {
    width: 100%;
}
#visibility>img {
    width: 80%;
    align-self: center;
}
#humidity>img{
    width: 40%;
    align-self: center;
}
#pressure>img{
    width: 80%;
    align-self: center;
}

.observation-cell>p{
    width: 100%;
    text-align: center;
    font-weight: bold;
}


#forecast-header{
    margin-top: auto;
    align-self: flex-start;
}

.week-forecast{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    gap: 0;
    background-color: #0072ff;
    border-radius: 1em;
}

.weekly-div{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 1%;
    align-items: center;
    justify-content: space-between;
}

#day1{
    background-color: #3a6a9291;
    border-radius: 1em 0 0 1em;
}

#day2{
    background-color: rgba(38,88,133,.7);
}
#day3{
    background-color: rgba(34,82,125,.7);
}
#day4{
    background-color: rgba(26,72,116,.7);
}
#day5{
    background-color: rgba(23,67,109, .7);
}
#day6{
    background-color: rgba(18,60,90, .7);
}
#day7{
    background-color: rgba(10,50,80, .7);
    border-radius: 0 1em 1em 0;
}